AlarmClockWP7/Service References/AlarmServiceReference/Alarm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Alarm" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:37342/Alarm.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:37342/Alarm.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:37342/Alarm.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAlarm_ReturnAlarmList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAlarmList" />
  </wsdl:message>
  <wsdl:message name="IAlarm_ReturnAlarmList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnAlarmListResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarm_UpdateAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarm_UpdateAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarm_RemoveAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarm_RemoveAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveAlarmResponse" />
  </wsdl:message>
  <wsdl:message name="IAlarm_AddAlarm_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarm" />
  </wsdl:message>
  <wsdl:message name="IAlarm_AddAlarm_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAlarmResponse" />
  </wsdl:message>
  <wsdl:portType name="IAlarm">
    <wsdl:operation name="ReturnAlarmList">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarm/ReturnAlarmList" message="tns:IAlarm_ReturnAlarmList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarm/ReturnAlarmListResponse" message="tns:IAlarm_ReturnAlarmList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarm/UpdateAlarm" message="tns:IAlarm_UpdateAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarm/UpdateAlarmResponse" message="tns:IAlarm_UpdateAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarm/RemoveAlarm" message="tns:IAlarm_RemoveAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarm/RemoveAlarmResponse" message="tns:IAlarm_RemoveAlarm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <wsdl:input wsaw:Action="http://tempuri.org/IAlarm/AddAlarm" message="tns:IAlarm_AddAlarm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAlarm/AddAlarmResponse" message="tns:IAlarm_AddAlarm_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAlarm" type="tns:IAlarm">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnAlarmList">
      <soap:operation soapAction="http://tempuri.org/IAlarm/ReturnAlarmList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarm/UpdateAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarm/RemoveAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAlarm">
      <soap:operation soapAction="http://tempuri.org/IAlarm/AddAlarm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Alarm">
    <wsdl:port name="BasicHttpBinding_IAlarm" binding="tns:BasicHttpBinding_IAlarm">
      <soap:address location="http://localhost:37342/Alarm.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>