AlarmClockWP7/Service References/AlarmServiceReference/Alarm2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlarmDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlarmDetail" nillable="true" type="tns:AlarmDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarmDetail" nillable="true" type="tns:ArrayOfAlarmDetail" />
  <xs:complexType name="AlarmDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmDateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="AlarmNumber" type="xs:int" />
      <xs:element minOccurs="0" name="AlarmText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AudibleAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="Blinking" type="xs:boolean" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flashlight" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Friday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Monday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Saturday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Snooze" type="xs:boolean" />
      <xs:element minOccurs="0" name="SnoozeInterval" type="xs:int" />
      <xs:element minOccurs="0" name="SoundNumber" type="xs:int" />
      <xs:element minOccurs="0" name="Sunday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Thursday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Tuesday" type="xs:boolean" />
      <xs:element minOccurs="0" name="Vibrate" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="VisualAlarm" type="xs:boolean" />
      <xs:element minOccurs="0" name="VolumeLevel" type="xs:int" />
      <xs:element minOccurs="0" name="Wednesday" type="xs:boolean" />
      <xs:element minOccurs="0" name="email1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email3" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmDetail" nillable="true" type="tns:AlarmDetail" />
</xs:schema>